<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.georgebrown.comp3074.pocketmealapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileReviewActivity" />
        <activity android:name=".AgreementTermsActivity" />
        <activity android:name=".MyFoodDetailActivity" />
        <activity android:name=".MyFoodListActivity" />
        <activity android:name=".EditActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".ChatDetails" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".drawer_activity"
            android:label="@string/title_activity_drawer_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FoodDetailActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>